# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = sina_iask.settings

[deploy:sina]
url = http://127.0.0.1:6800/   #推送服务地址
project = sina_iask
